<div class="bx--module">
  <div class="bx--module__inner">
    <div class="bx--module__header">
      <p class="bx--module__title bx--type-alpha">Data Table V2</p>
    </div>
    <div class="bx--module__content">
      <cbDataTableV2 [selection]="true" [dataSource]="items">
        <cbColumnV2 header="Name" field="name"></cbColumnV2>
        <cbColumnV2 header="Value" field="value"></cbColumnV2>
        <cbColumnV2 header="City" field="city"></cbColumnV2>
      </cbDataTableV2>
    </div>
  </div>
</div>
