<div class="bx--module">
  <div class="bx--module__inner">
    <div class="bx--module__header">
      <p class="bx--module__title bx--type-alpha">Overflow Menu</p>
    </div>
    <div class="bx--module__content">
      <cbOverflowMenu placement="right">
        <svg style="fill: #8c9ba5; margin-top: 10px;transform: rotate3d(0, 0, 1, 90deg);" overflow-menu-trigger width='4' height='20'
          viewBox='0 0 4 20' fill-rule='evenodd'>
          <path d='M0 2a2 2 0 1 1 4 0 2 2 0 1 1-4 0M0 10a2 2 0 1 1 4 0 2 2 0 1 1-4 0M0 18a2 2 0 1 1 4 0 2 2 0 1 1-4 0'></path>
        </svg>
        <cbOverflowMenuItem>
          <button>View Detail</button>
        </cbOverflowMenuItem>
        <cbOverflowMenuItem>
          <button>View Jobs</button>
        </cbOverflowMenuItem>
      </cbOverflowMenu>
    </div>
  </div>
</div>
