<div class="bx--module">
  <div class="bx--module__inner">
    <div class="bx--module__header">
      <p class="bx--module__title bx--type-alpha">Tabs</p>
    </div>
    <div class="bx--module__content">
      <cbTabs>
        <cbTab [active]="true" heading="Tab 1">
          <p>Tab 1 content</p>
        </cbTab>
        <cbTab heading="Tab 2">
          <p>Tab 2 content</p>
        </cbTab>
        <cbTab heading="Tab 3">
          <p>Tab 3 content</p>
        </cbTab>
        <cbTab heading="Tab 4">
          <p>Tab 4 content</p>
        </cbTab>
      </cbTabs>
    </div>
  </div>
</div>
