<div class="bx--module">
  <div class="bx--module__inner">
    <div class="bx--module__header">
      <p class="bx--module__title bx--type-alpha">Dropdown</p>
    </div>
    <div class="bx--module__content">
      <cbDropdown>
        <cbDropdownItem value="item1">item1</cbDropdownItem>
        <cbDropdownItem value="item2">item2</cbDropdownItem>
        <cbDropdownItem value="item3">item3</cbDropdownItem>
        <cbDropdownItem value="item4">item4</cbDropdownItem>
        <cbDropdownItem value="item5">item5</cbDropdownItem>
      </cbDropdown>
    </div>
  </div>
</div>
