<div class="bx--module">
  <div class="bx--module__inner">
    <div class="bx--module__header">
      <p class="bx--module__title bx--type-alpha">Accordion</p>
    </div>
    <div class="bx--module__content">
      <cbAccordion>
        <cbAccordionItem heading="Hello">
          This is accordion content
        </cbAccordionItem>
        <cbAccordionItem heading="Hello">
          This is accordion content
        </cbAccordionItem>
        <cbAccordionItem heading="Hello">
          This is accordion content
        </cbAccordionItem>
      </cbAccordion>
    </div>
  </div>
</div>
