<div class="container">
  <h1 style="margin-left:10px;">Angular Carbon Components
    <span style="font-size:16px;font-weight:400">v.0.1-beta</span>
  </h1>
  <div class="bx--row">
    <div class="bx--col-md-12">
      <accordion></accordion>
    </div>
  </div>
  <div class="bx--row">
    <div class="bx--col-md-12">
      <overflow-menu></overflow-menu>
    </div>
  </div>
  <div class="bx--row">
    <div class="bx--col-md-12">
      <tabs></tabs>
    </div>
  </div>
  <div class="bx--row">
    <div class="bx--col-md-12">
      <dropdown></dropdown>
    </div>
  </div>
  <div class="bx--row">
    <div class="bx--col-md-12">
      <data-table-v2></data-table-v2>
    </div>
  </div>
</div>
